// Define variables for your color scheme

// For example:
$red: #DF2222;
$purple: #8B1874;
$yellow: #FFD93D;
$orange: #FC4F00;
$turq: #009FBD;
$gray: #0E0000;
$light-gray: #F4F4F4;
$black: #1A120B;
$white: white;
