// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('//db.onlinewebfonts.com/c/1a243397695904f6f56e490ffd77a9cb?family=ChicagoFLF');

$terminal-font: "Terminal Grotesque"!important;
$chicago-font: "ChicagoFLF";
// Define fonts for body and headers
// $body-font: "Work Sans", "Helvetica", "sans-serif";
//define font for headers ChicagoFLF for H0 and H4
$body-font: $terminal-font, "Helvetica", "sans-serif";
$headers-font: $chicago-font, "Helvetica", "sans-serif";

@font-face {
  font-family: 'Terminal Grotesque';
  src: font-url('terminal-grotesque-webfont.eot');
  src: font-url('terminal-grotesque-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('terminal-grotesque-webfont.woff2') format('woff2'),
       font-url('terminal-grotesque-webfont.woff') format('woff'),
       font-url('terminal-grotesque-webfont.ttf') format('truetype'),
       font-url('terminal-grotesque-webfont.svg#terminal_grotesqueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChicagoFLF';
  src: font-url('1a243397695904f6f56e490ffd77a9cb.eot');
  src: font-url('1a243397695904f6f56e490ffd77a9cb.eot?#iefix') format('embedded-opentype'),
       font-url('1a243397695904f6f56e490ffd77a9cb.woff2') format('woff2'),
       font-url('1a243397695904f6f56e490ffd77a9cb.woff') format('woff'),
       font-url('1a243397695904f6f56e490ffd77a9cb.ttf') format('truetype'),
       font-url('1a243397695904f6f56e490ffd77a9cb.svg#ChicagoFLF') format('svg');
}
