<div class="d-flex justify-content-evenly">
  <div class="window">
    <div class="bar">
      <i></i>
      <div><p>Tell me your bug</p></div>
    </div>
    <div class="content">
      <textarea id="bug-description" class="bug-textarea" placeholder="Enter your bug description"></textarea>
      <button class="submit-button" >Submit</button>
    </div>
  </div>

  <div class="window">
    <div class="bar">
      <i></i>
      <div><p>Explanation</p></div>
    </div>
    <div class="content">
      <textarea id="explanation" class="explanation-textarea" placeholder="Enter your explanation"></textarea>
      <button class="save-button" >Save</button>
    </div>
  </div>
</div>

