<div class="window">
  <div class="d-flex justify-content-center">
    <% @languages.each do |language| %>
      <div >
        <div class="d-flex">
          <%= link_to cl_image_tag(language.image.key, size: '250x250', crop: :fill), language_path(language) %>
        </div>
        <div class="">
          <h1><%= language.name %></h1>
        </div>
      </div>
    <% end %>
  </div>
</div>
