<div class="dashboard">
	<div class="dash-title">
		<h1>Tracks of your lessons</h1>
		<h4> Your PatoFix's languages and lessons</h4>
	</div>
	

	<ul class="timeline">

		<li class="timeline">
			<div class="icon done"></div>
			<details class="panel">
				<summary>HTML</summary>
				<p><strong>Completed: </strong>Lesson 10<br><br>
				<strong>Resume:</strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quam cumque sed! Perspiciatis corporis asperiores laboriosam. Consequuntur, expedita? Recusandae perspiciatis rerum obcaecati nesciunt laudantium nam repellendus non, illum ullam nisi.</p>
			</details>
		</li>

		<li class="timeline">
			<div class="icon done"></div>
			<details class="panel">
				<summary> CSS </summary>
				<p><strong>Completed: </strong>Lesson 10<br><br>
				<strong>Resume:</strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quam cumque sed! Perspiciatis corporis asperiores laboriosam. Consequuntur, expedita? Recusandae perspiciatis rerum obcaecati nesciunt laudantium nam repellendus non, illum ullam nisi.</p>
			</details>
		</li>

		<li class="timeline">
			<div class="icon working"></div>
			<details class="panel">
				<summary>Ruby</summary>
				<p><strong> Intermidiate </strong>Lesson 5<br><br>
				<strong>Resume:</strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quam cumque sed! Perspiciatis corporis asperiores laboriosam. Consequuntur, expedita? Recusandae perspiciatis rerum obcaecati nesciunt laudantium nam repellendus non, illum ullam nisi.</p>
			</details>
		</li>

		<li class="timeline">
			<div class="icon"></div>
			<details class="panel">
				<summary>JavaScript</summary>
				<p><strong>Beginner:</strong>Lesson 1<br><br>
				<strong>Resume:</strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quam cumque sed! Perspiciatis corporis asperiores laboriosam. Consequuntur, expedita? Recusandae perspiciatis rerum obcaecati nesciunt laudantium nam repellendus non, illum ullam nisi.</p>
			</details>
		</li>

		<li class="timeline">
			<div class="icon"></div>
			<details class="panel">
				<summary>XXX</summary>
				<p><strong>Beginner: </strong>Lesson 1<br><br>
				<strong>Resume:</strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quam cumque sed! Perspiciatis corporis asperiores laboriosam. Consequuntur, expedita? Recusandae perspiciatis rerum obcaecati nesciunt laudantium nam repellendus non, illum ullam nisi.</p>
			</details>
		</li>

		<li class="timeline">
			<div class="icon"></div>
			<details class="panel">
				<summary>XXX</summary>
				<p><strong>Beginner: </strong>Lesson 1<br><br>
				<strong>Resume:</strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quam cumque sed! Perspiciatis corporis asperiores laboriosam. Consequuntur, expedita? Recusandae perspiciatis rerum obcaecati nesciunt laudantium nam repellendus non, illum ullam nisi.</p>
			</details>
		</li>

		<li class="timeline">
			<div class="icon"></div>
			<details class="panel">
				<summary>XXX</summary>
				<p><strong>Beginner: </strong>Lesson 1<br><br>
				<strong>Resume:</strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum quam cumque sed! Perspiciatis corporis asperiores laboriosam. Consequuntur, expedita? Recusandae perspiciatis rerum obcaecati nesciunt laudantium nam repellendus non, illum ullam nisi.</p>
			</details>
		</li>

	</ul>
</div>
<%= render "shared/footer" %>

	