.btn-primary {
  
}

.nav-button, .nav-button:hover {
  background-color: rgba(127, 17, 224, .1);
  color: rgba(127, 17, 224, 1);
  text-decoration: none;
  padding: 6px;
  border: 1px solid rgba(127, 17, 224, 1);
  border-radius: 2px;
}

.navbar .nav-item {
  padding: 0 2px;
}
