.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 2px black dashed;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.logo-nav {
  border-radius: 50%;
  border: 2px solid black;
}
