#background-prompt {
  font-size: 2px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQIW2NkYGD4D8SMjEACBP4DAA8oAgK5wqQTAAAAAElFTkSuQmCC);
  background-size: 2em 2em;
  height: 289em;
  background-position: 0 0, 1em 0, 1em -1em, 0em 1em;
  font-family: Macintosh;
}

.window {
  margin-top: 20em;
  width: 200em;
  height: 160em;
  background: white;
  border: 1em solid black;
  box-shadow: 1em 1em 0 0 black;
}

.window > div {
  padding: 2px;
}

.content {
  font-size: 16px;
  font-family: "Terminal Grotesque";
  padding: 10px 10px !important;
}

.bar {
  height: 11em;
  text-align: center;
  border-bottom: 1em solid black;
  overflow: hidden;
}

.bar > div {
  height: 11em;
  width: 198em;
  background: #ffffff;
  background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 50%,#000000 51%,#000000 100%);
  background-size: 2em 2em;
  position: absolute;
}

.bar > div p {
  color: #000000;
  height: 1.2em;
  background: white;
  padding: 0 0.4em;
  line-height: 1.4em;
  display: inline-block;
  font-size: 9em;
}

.bar > i {
  height: 7em;
  width: 7em;
  background: #ffffff;
  border: 1em solid black;
  position: absolute;
  float: left;
  z-index: 3;
  margin: 1em 7em;
  display: block;
  box-shadow: 0 0 0 1em white;
}
.explanation-textarea, .bug-textarea {
    width: 100%;
    height: 245px;
    resize: vertical;
}
